<!doctype html>
<html>
  	<head>
   	 	<title>FilterME - Test Your Filter Bubble</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1">

  	</head>
  	<body>
      <div id="instruction">Click on Your Interest</div>
      <div class="news">
          <div id="NewsGroup" class="section group">
              <!-- <div class="col span_1_of_3 newsItem">
                  <div class="newsImg">
                      <img src="https://static01.nyt.com/images/2017/09/27/nyregion/27nytoday1/27nytoday1-facebookJumbo.jpg" >
                  </div>
                  <div class="newstitle"><a href="">Title</a></div>
              </div>
              <div class="col span_1_of_3 newsItem">
                  <div class="newsImg">
                      <img src="https://static01.nyt.com/images/2017/09/27/nyregion/27nytoday1/27nytoday1-facebookJumbo.jpg">
                  </div>
                  <div class="newstitle"><a href="">Title</a></div>
              </div>
              <div class="col span_1_of_3 newsItem">
                  <div class="newsImg">
                      <img src="https://static01.nyt.com/images/2017/09/27/nyregion/27nytoday1/27nytoday1-facebookJumbo.jpg">
                  </div>
                  <div class="newstitle"><a href="">Title</a></div>
              </div> -->
          </div>
       </div> 

      <!-- <div>
          <button><a href="{{ url_for('result') }}">Check My Result</a></button>
      </div> -->

      <div class="bubbles">
            <!-- <div class="bubble b1"></div> -->
      </div>
  		<!-- <a href="page2.html"><div class="PageImg"></div></a> -->
  		<!-- <ul>
          <li>
            <div>

            </div>
          </li>
  		</ul> -->
 	</body>
 	<script type="text/javascript" src="{{ url_for('static', filename='js/page.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>